@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100&display=swap');
*{
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
transition: 300ms all ease;
}
// :root{
//     --back:#efeef4;
//     --theme:#5e27e5;
// }

.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    padding: 0 1em;
    overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}
.active{
    border : 1px solid rgb(57, 54, 248);
  }
.background{
    width: 100%;
}
.paper{
    background: #fff;
    box-shadow: 0 10 32px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.header-title{
    font-size: 20px;
    font-weight: 700;
}
.header-title span{
    font-weight: 400;
    opacity: 0.5;
}

.radio-container{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
.lbl-radio{
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    cursor: pointer;
}
.lbl-radio .content .title{
      font-weight:600 ;
      margin-bottom: 7px;
}
.lbl-radio .content .subtext{
    opacity: 0.5;
    font-size: 14px;
}
.marker{
	width: 18px;
	height: 18px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
}
input[type='radio']:checked + .lbl-radio{
    border: .5px solid rgb(57, 54, 248) ;
}
input[type='radio']:checked + .lbl-radio > .marker{
    border:4px solid rgb(57, 54, 248);
}
input[type='radio']{
    display: none;
}