<div class="surface-card border-top-1 border-gray-100">
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 bg-no-repeat bg-cover p-7"
            style="background-image: url('assets/image/contact-2.jpg');">
            <div class="text-white text-2xl font-medium mb-6">{{'login.contactus' | translate}}</div>
            <div class="text-gray-300 line-height-3 mb-6">{{'login.contactmsg' | translate}}</div><a
                class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer"><span
                    class="mr-3">{{'login.googlemap' | translate}}</span><i class="pi pi-arrow-right"></i></a>
            <ul class="list-none p-0 m-0 mt-6 text-white">
                <li class="flex align-items-center mb-3"><i class="pi pi-phone mr-2"></i><span>{{'login.contactNumber' |
                        translate}}</span></li>
                <li class="flex align-items-center mb-3"><i
                        class="pi pi-twitter mr-2"></i><span>{{'login.contactsociallink' | translate}}</span></li>
                <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.contactmailllink' |
                        translate}}</span>
                </li>
                <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Shopaddress' |
                        translate}}</span>
                </li>
                <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Headoffice' |
                        translate}}</span>
                </li>
            </ul>
        </div>
            <div class="col-12 lg:col-6 lg:pl-4 pt-5">
                <div class="w-full hidden lg:block">
                    <div class="text-900 text-3xl font-medium">{{'login.SuriTechnologyheading0' | translate}}</div>
                    <p class="text-600 text-xl line-height-3 mb-6">{{'login.SuriTechnologyheading1' | translate}}</p>
                </div>
                <table class="w-full">
                    <tr>
                        <td w-7="" class="text-900 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive1' | translate}}</td>
                        <td class="text-600 p-2">{{'login.SuriTechnologyheading2' | translate}}</td>
                    </tr>
                    <tr>
                        <td w-7="" class="text-900 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive2' | translate}}</td>
                        <td class="text-600 p-2">{{'login.SuriTechnologyheading3' | translate}}</td>
                    </tr>
                    <tr>
                        <td w-7="" class="text-900 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive3' | translate}}</td>
                        <td class="text-600 p-2">{{'login.SuriTechnologyheading4' | translate}}</td>
                    </tr>
                    <tr>
                         <td w-7="" class="text-900 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive4' | translate}}</td>
                        <td class="text-600 p-2">{{'login.SuriTechnologyheading5' | translate}}</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive5' | translate}}</td>
                        <td class="text-600 p-2">{{'login.SuriTechnologyheading6' | translate}}</td>
                    </tr>
                </table>
            </div>
    </div>
</div>