<!-- <app-header></app-header> -->

<div class="block-content">
<div class="box hidden">Content</div>
    <div class="ng-star-inserted">
        <div class="min-h-screen flex relative lg:static surface-ground">
            <div id="app-sidebar"
                class="surface-section h-full lg:h-auto hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
                style="width: 280px;">
                <div class="flex flex-column h-full">

                    <div class="overflow-y-auto">
                                 <ul class="list-none p-0 m-0 overflow-hidden">
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                                                class="pi pi-folder mr-2"></i><span
                                                class="font-medium">Your Account</span><span class="p-ink"></span></a></li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                                                class="pi pi-chart-bar mr-2"></i><span
                                                class="font-medium">Manages your content and Devices</span><span class="p-ink"></span></a>
                                    </li>
                                    <li><a pripple=""
                                            class="p-ripple p-element flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                                                class="pi pi-cog mr-2"></i><span
                                                class="font-medium">Settings</span><span class="p-ink"></span></a></li>
                                                <li><a pripple="" routerLink="/Home"
                                                    class="p-ripple p-element flex align-items-center no-underline cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"><i
                                                        class="pi pi-power-off mr-2"></i><span
                                                        class="font-medium">Log Out</span><span class="p-ink"></span></a></li>
                                </ul>

                    </div>
                </div>
            </div>
            <div class="min-h-screen flex flex-column relative flex-auto">
                <div class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static"
                    style="height: 60px;">
                    <div class="flex"><a pripple="" pstyleclass="#app-sidebar" enterclass="hidden"
                            enteractiveclass="fadeinleft" leavetoclass="hidden" leaveactiveclass="fadeoutleft"
                            class="p-element p-ripple cursor-pointer block lg:hidden text-700 mr-3"><i
                                class="pi pi-bars text-4xl"></i><span class="p-ink"></span></a><span
                            class="p-input-icon-left"><i class="pi pi-search"></i><input type="text" pinputtext=""
                                placeholder="Search"
                                class="p-inputtext p-component p-element border-none w-10rem sm:w-20rem"></span></div><a
                        pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="fadein"
                        leavetoclass="hidden" leaveactiveclass="fadeout"
                        class="p-element p-ripple cursor-pointer block lg:hidden text-700"><i
                            class="pi pi-ellipsis-v text-2xl"></i><span class="p-ink"></span></a>
                    <ul
                        class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
                        <li><a pripple=""
                                class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i
                                    class="pi pi-shopping-cart text-base lg:text-2xl mr-2 lg:mr-0"></i><span
                                    class="block lg:hidden font-medium">Inbox</span><span class="p-ink"></span></a></li>
                        <li><a pripple=""
                                class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i
                                    pbadge="" severity="danger"
                                    class="p-element pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge"><span
                                        id="pr_id_1_badge"
                                        class="p-badge p-component p-badge-danger p-badge-dot"></span></i><span
                                    class="block lg:hidden font-medium">Notifications</span><span
                                    class="p-ink"></span></a></li>
                        <li class="border-top-1 surface-border lg:border-top-none"><a pripple=""
                                class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><img
                                    src="assets/showcase/images/demo/avatar/stephenshaw.png" class="mr-3 lg:mr-0"
                                    style="width: 32px; height: 32px;">
                                <div class="block lg:hidden">
                                    <div class="text-900 font-medium">Josephine Lillard</div><span
                                        class="text-600 font-medium text-sm">Marketing Specialist</span>
                                </div><span class="p-ink"></span>
                            </a></li>
                    </ul>
                </div>
                <div class="flex flex-column flex-auto">
                    <div class="surface-section p-5">
                        <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
                            <div class="flex align-items-start flex-column md:flex-row"><img
                                    src="assets/showcase/images/demo/avatar/stephenshaw.png"
                                    class="mr-5 mb-3 lg:mb-0" style="width: 90px; height: 90px;">
                                <div><span class="text-900 font-medium text-3xl">Jhon doe</span><i
                                        class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
                                    <div class="flex align-items-center flex-wrap text-sm">
                                        <div class="mr-5 mt-3"><span class="font-medium text-500">Order Completed</span>
                                            <div class="text-700 mt-2">33</div>
                                        </div>
                                        <div class="mr-5 mt-3"><span class="font-medium text-500">Payment Pending</span>
                                            <div class="text-700 mt-2">2</div>
                                        </div>
                                        <div class="mr-5 mt-3"><span class="font-medium text-500">Wishlist</span>
                                            <div class="text-700 mt-2">17</div>
                                        </div>
                                        <div class="mt-3"><span class="font-medium text-500">Cart</span>
                                            <div class="text-700 mt-2">13</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="p-5">
                        <div class="grid">
                            <div class="col-12 lg:col-6 xl:col-3">
                                <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                                    <div class="flex justify-content-between mb-3">
                                        <div><span class="block text-800 text-xl font-medium mb-3">Orders</span>
                                            <div class="text-500 font-medium text-md">Track ,Return and buy thing again</div>
                                        </div>
                                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                            style="width: 2.5rem; height: 2.5rem;"><i
                                                class="pi pi-shopping-cart text-blue-500 text-xl"></i></div>
                                    </div><span class="text-green-500 font-medium">24 new </span><span
                                        class="text-500">since last visit</span>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6 xl:col-3">
                                <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                                    <div class="flex justify-content-between mb-3">
                                        <div><span class="block text-800 text-xl font-medium mb-3">Login & Security</span>
                                            <div class="text-gray-600 font-medium text-md">Edit Login,Name,Mobile Number</div>
                                        </div>
                                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                                            style="width: 2.5rem; height: 2.5rem;"><i
                                                class="pi pi-lock text-orange-500 text-xl"></i></div>
                                    </div><span class="text-green-500 font-medium">%52+ </span><span
                                        class="text-500">since last week</span>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6 xl:col-3">
                                <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                                    <div class="flex justify-content-between mb-3">
                                        <div><span class="block text-800 text-xl font-medium mb-3">Your Addresses</span>
                                            <div class="text-600 font-medium text-md">Edit Addresses for orders and gifts</div>
                                        </div>
                                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                                            style="width: 2.5rem; height: 2.5rem;"><i
                                                class="pi pi-map-marker text-cyan-500 text-xl"></i></div>
                                    </div><span class="text-green-500 font-medium">520 </span><span
                                        class="text-500">newly registered</span>
                                </div>
                            </div>
                            <div class="col-12 lg:col-6 xl:col-3">
                                <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                                    <div class="flex justify-content-between mb-3">
                                        <div><span class="block text-800  text-xl font-medium mb-3">Payments Option</span>
                                            <div class="text-600 font-medium text-md">Edit and Add Payment Option</div>
                                        </div>
                                        <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                                            style="width: 2.5rem; height: 2.5rem;"><i
                                                class="pi pi-credit-card text-purple-500 text-xl"></i></div>
                                    </div><span class="text-green-500 font-medium">85 </span><span
                                        class="text-500">responded</span>
                                </div>
                            </div>
                            <div class="col-12 xl:col-6">
                                <div class="surface-card shadow-2 border-round p-4">
                                    <div class="text-xl text-900 font-medium mb-5">Latest News</div>
                                    <ul class="list-none p-0 m-0">
                                        <li class="pb-3 border-bottom-1 surface-border">
                                            <div class="font-medium text-900 mb-2">Aenean euismod elementum</div>
                                            <div class="line-height-3 text-600" style="max-width: 30rem;">Vitae turpis
                                                massa sed elementum tempus egestas sed sed risus. In metus vulputate eu
                                                scelerisque felis imperdiet proin.</div>
                                        </li>
                                        <li class="py-3 border-bottom-1 surface-border">
                                            <div class="font-medium text-900 mb-2">In iaculis nunc sed augue lacus</div>
                                            <div class="line-height-3 text-600" style="max-width: 30rem;">Viverra vitae
                                                congue. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus.
                                                Elementum eu facilisis sed odio morbi.</div>
                                        </li>
                                        <li class="py-3 border-bottom-1 surface-border">
                                            <div class="font-medium text-900 mb-2">Proin sagittis nisl rhoncus</div>
                                            <div class="line-height-3 text-600" style="max-width: 30rem;">In
                                                pellentesque massa placerat duis ultricies lacus. Ac feugiat sed lectus
                                                vestibulum mattis ullamcorper.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 xl:col-6">
                                <div class="surface-card shadow-2 border-round p-4">
                                    <div class="flex justify-content-between align-items-center mb-5"><span
                                            class="text-xl text-900 font-medium">Ordering and shopping preferences</span>
                                        <div><button pbutton="" pripple="" icon="pi pi-ellipsis-v"
                                                class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only"><span
                                                    class="p-button-icon pi pi-ellipsis-v"
                                                    aria-hidden="true"></span><span
                                                    class="p-ink"></span></button></div>
                                    </div>
                                    <ul class="list-none p-0 m-0">

                                        <li
                                            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                                            <div class="flex"><img
                                                    src="assets/images/blocks/avatars/circle/avatar-f-2.png"
                                                    class="mr-3" style="width: 45px; height: 45px;">
                                                <div><span class="block text-900 font-medium mb-1">Theresa Webb
                                                        Hudson</span>
                                                    <div class="text-600">UI/UX Designer</div>
                                                </div>
                                            </div>
                                            <div class="mt-2 md:mt-0 flex flex-nowrap"><button pbutton="" pripple=""
                                                    icon="pi pi-twitter"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-twitter"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-github"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-github"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-facebook"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-facebook"
                                                        aria-hidden="true"></span><span class="p-ink"></span></button>
                                            </div>
                                        </li>
                                        <li
                                            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                                            <div class="flex"><img
                                                    src="assets/images/blocks/avatars/circle/avatar-f-3.png"
                                                    class="mr-3" style="width: 45px; height: 45px;">
                                                <div><span class="block text-900 font-medium mb-1">Arlene McCoy</span>
                                                    <div class="text-600">UI/UX Designer</div>
                                                </div>
                                            </div>
                                            <div class="mt-2 md:mt-0 flex flex-nowrap"><button pbutton="" pripple=""
                                                    icon="pi pi-twitter"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-twitter"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-github"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-github"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-facebook"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-facebook"
                                                        aria-hidden="true"></span><span class="p-ink"></span></button>
                                            </div>
                                        </li>
                                        <li
                                            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                                            <div class="flex"><img
                                                    src="assets/images/blocks/avatars/circle/avatar-m-1.png"
                                                    class="mr-3" style="width: 45px; height: 45px;">
                                                <div><span class="block text-900 font-medium mb-1">Jacob Jones</span>
                                                    <div class="text-600">UI/UX Designer</div>
                                                </div>
                                            </div>
                                            <div class="mt-2 md:mt-0 flex flex-nowrap"><button pbutton="" pripple=""
                                                    icon="pi pi-twitter"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-twitter"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-github"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-github"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-facebook"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-facebook"
                                                        aria-hidden="true"></span><span class="p-ink"></span></button>
                                            </div>
                                        </li>
                                        <li
                                            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                                            <div class="flex"><img
                                                    src="assets/images/blocks/avatars/circle/avatar-m-2.png"
                                                    class="mr-3" style="width: 45px; height: 45px;">
                                                <div><span class="block text-900 font-medium mb-1">James Cooper</span>
                                                    <div class="text-600">UI/UX Designer</div>
                                                </div>
                                            </div>
                                            <div class="mt-2 md:mt-0 flex flex-nowrap"><button pbutton="" pripple=""
                                                    icon="pi pi-twitter"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-twitter"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-github"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-github"
                                                        aria-hidden="true"></span><span
                                                        class="p-ink"></span></button><button pbutton="" pripple=""
                                                    icon="pi pi-facebook"
                                                    class="p-element p-ripple p-button-text p-button-plain p-button-rounded mr-1 p-button p-component p-button-icon-only"><span
                                                        class="p-button-icon pi pi-facebook"
                                                        aria-hidden="true"></span><span class="p-ink"></span></button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!----><!---->
</div>