

:host ::ng-deep {
    .p-dataview .p-dataview-header {
        background: #f8f9fa;
        color: #343a40;
        border: 1px solid #dee2e6;
        border-width:0 0 1px 0;
        padding: 1rem 1rem;
        font-weight: 700;
    }
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    
    .product-name {
        font-size: .5rem;
    }
    

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
    
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
    
        .product-grid-item-content {
            text-align: center;
            margin: 1rem 0;
        }
        .product-grid-item-content img {
            text-align: center;
            width: 60%;
            height: auto;
        }
    
        .product-price {
            font-size: 1rem;
            font-weight: 600;
        }
    }
}
.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
    .product-list-item img{
        text-align: center;
        width: 10%;
        height: auto;
    }
    .product-list-detail {
        flex: 1 1 0;
    }
    .product-name {
            font-size: 1rem;
            font-weight: 700;
        }
  .product-description {
            margin: 0 0 1rem;
        }
    .product-category {
            font-weight: 600;
            vertical-align: middle;
        }
    
.product-list-action {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
.product-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
        align-self: flex-end;
    }

.card {
    padding: .5rem;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.active{
    border-bottom-style: dotted;
    color: var(--primary-500);
    padding: 0 ;
}




._2NOVgj{
    border-bottom: 1px solid #f0f0f0;
}

// a, img {
//     text-decoration: none;
//     color: inherit;
//     border: none;
//     outline: none;
// }
.pO9syL {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #212121;
}
._2NOVgj ._3vhnxf, .pO9syL ._2NOVgj ._3vhnxf {
    text-transform: none;
    margin-left: 12px;
}
._2kxeIr {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    gap: 1rem;
    text-decoration: none;
    color: black;
}



:host ::ng-deep p-carousel {
    //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
    // .p-carousel-indicators {
    //   display: none !important;
    // }
    .p-carousel-next, .p-carousel-prev {
      display: none !important;
    }
  }
  .BORDERCLASS{
    border-bottom-width: 10px;
  }