.product-badge.status-In-Stock {
    padding: .5rem;
    border-radius: 4px;
    background: #C8E6C9;
    color: #256029;
}
.product-badge.status-Less-Stock {
    padding: .5rem;
    border-radius: 4px;
    background: #FEEDAF;
    color: #8a5340;
}
.product-badge.status-Out-Of-Stock{
    padding: .5rem;
    border-radius: 4px;
    background: #FFCDD2;
    color: #c63737;
}
.is-invalid{
    border: 1px solid red;
}
// $status: left;
// .bordered {
//   @if $status == qty<10 {
//     border-top: 1px solid #000;
//   }
//   @else if $status == right {
//     border-right: 1px solid #000;
//   }
//   @else if $status == bottom {
//     border-bottom: 1px solid #000;
//   }
//   @else if $status == left {
//     border-left: 1px solid #000;
//   }
// }